.example-sidenav {
  width: 600px;
  padding: 20px;
}

.mat-column-menuCode{
  width: 300px;
}

.mat-column-menuName{
  width: 200px;
}
.mat-column-icon{
  width: 100px;
}
.mat-column-route{
  width: 200px;
}
.mat-column-menuSort{
  width: 100px;
}
.mat-column-enabledFlag{
  width: 100px;
}

.mat-column-operations{
  width: 300px;
}


